@model IEnumerable<_05_44_mvc_ex6_delete.Models.Customer>

@{
  ViewBag.Title = "CustomerList";
}

<h2>CustomerList123</h2>

<p>
  @Html.ActionLink("Create New123", "AddCustomer")
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Telephone)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Telephone)
      </td>
      <td>
        @Html.ActionLink("EditCustomer", "EditCustomer", new { id = item.Id }) |
        @Html.ActionLink("ViewCustomer", "ViewCustomer", new { id = item.Id }) |
        @Html.ActionLink("DeleteCustomer", "DeleteCustomer", new { id = item.Id })
      </td>
    </tr>
  }

</table>
